.app {
  display: block;
  height: 100vh;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 30px;
  color: white;
}
.header-title {
  display: table;
  margin: 10px auto;
}

.body {
  padding: 20px;
}

.calendar {
}

.title {
  text-align: center;
}
.title-left {
  float: left;
}
.title-right {
  float: right;
}
.title-center {
  display: inline-block;
}

.content {
  margin: 0 auto;
}
