.app {
  display: block;
  height: 100vh;
}

.header {
  background-color: #222;
  padding: 30px;
  color: white;
}
@media (min-width: 701px) {
  .header-title {
    display: table;
    margin: 10px auto;
  }
  .header-title-mobile {
    display: none;
  }
}
@media (max-width: 700px) {
  .header-title {
    display: none;
  }
  .header-title-mobile {
    display: table;
    margin: 10px auto;
  }
}


.body {
  padding: 20px;
}

.calendar {
  display: table;
  margin: 0 auto;
  width: 60%;
}

.title {
  text-align: center;
}
.title-left {
  float: left;
}
.title-right {
  float: right;
}
.title-center {
  display: inline-block;
}

.content {
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 700px) {
  .calendar {
    display: table;
    margin: 0 auto;
    width: 100%;
  }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
td {
  height: 50px;
  width: 14.29%;
}
.focus {
  background-color: #5EEBAB;
}
.non-focus {
  background-color: #F2F2F2;
}
